@import "tailwindcss";

:root {
  --background: #d7d7d7fa;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
}
